<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Express Boilerplate</title>
<meta name="description" content="A HTML5 Boilerplate with Express,Sass,Gulp and Express-Handlebars">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="apple-touch-icon" href="apple-touch-icon.png">
<!-- Place favicon.ico in the root directory -->
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link href="https://fonts.googleapis.com/css?family=Lato:400,700,300" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="/dist/styles/main.min.css">
